<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
</head>
<body>

<p>Main Page!!</p>
<a th:href="@{MyChannel}">View Your Channel</a>

<div>
	<div style="display:inline-grid;" th:each="Video: ${allVideosForMainPage}" class="t">
		<video width="320" height="240" th:src="${Video.getVideoURL()}" preload="auto" controls/></video>
		<span th:text="${Video.getVideoname()}"/></span> <span th:text="${Video.getVideolength()}"/></span>
	</div>
</div>


</body>
</html>