<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Channel</title>
</head>
<body>
<p>Channel Name: <span th:text="${userChannel}"></span> <p>
<a th:href="@{UploadVideo}">Upload Video</a>


<div>
	<div style="display:inline-grid;" th:each="Video: ${allChannelVideos}" class="t">
		<video width="320" height="240" th:src="${Video.getVideoURL()}" preload="auto" controls/></video>
		<span th:text="${Video.getVideoname()}"/></span>
	</div>
</div>

</body>
</html>